div(id="myModal", class="modal hide fade in", style="display:none;")
    form(method="POST")
        div(class="modal-header")
            ="Create a rule!"
        div(class="modal-body")
            ul
                li
                    label= "Rule name"
                        input(type="text", name="name")
                li
                    label= "All of:"
                        br
                        input(type="text", name="allOf")
                li
                    label= "One of:"
                        br
                        input(type="text", name="oneOf")
                li
                    label= "none of:"
                        br
                        input(type="text", name="noneOf")
                li
                    label= "min score:"
                        br
                        input(type="text", name="minScore")
        div(class="modal-footer")
            button(data-dismiss="modal")
                ="close"
            button(type="Submit")
                ="Create!"
