form(method="POST")
    label= "Rule name"
    input(type="text", name="name")
    label= "All of:"
    input(type="text", name="allOf")
    label= "One of:"
    input(type="text", name="oneOf")
    label= "none of:"
    input(type="text", name="noneOf")
    label= "min score:"
    input(type="text", name="minScore")
    button(type="Submit")
        ="Create!"
